@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
